name: Deploy
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        persist-credentials: false
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: "lts/*"
    - uses: actions/cache@v3
      id: npm-cache
      with:
          path: 'node_modules'
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
              ${{ runner.os }}-npm-
    - name: Install
      if: steps.npm-cache.outputs.cache-hit != 'true'
      run: npm clean-install
    - name: Build
      run: npm run build
    - name: pack
      run: npm pack
    - name: Rename to dryerjs-commithash-.tgz
      run: mv dryerjs-*.tgz dryerjs-${{ github.sha }}.tgz
    - name: Checkout debugger
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GH_TOKEN }}
        repository: dryerjs/debugger
        path: debugger
    - name: Remove old tgz
      run: rm debugger/dryerjs-*.tgz
    - name: Copy new tgz
      run: cp dryerjs-${{ github.sha }}.tgz debugger/
    - name: Install new tgz
      run: npm install dryerjs@dryerjs-${{ github.sha }}.tgz
    - name: Replace src folder
      run: rm -rf debugger/src && cp -r src debugger/
    - name: Commit and push using GH_TOKEN
      run: |
        cd debugger
        git add .
        git config --global user.name 'vanpho93'
        git config --global user.email 'vanpho01@gmail.com'
        git commit -m "feat: update to dryerjs-${{ github.sha }}"
        git push
